---
layout: default
title: Home
permalink: index.html
---

<p>I serve as a Chief Scientific Officer at <a href="http://molecule.one"> Molecule.one </a>. I am also an Assistant Professor at Jagiellonian University (member of <a href="http://gmum.net">GMUM.net</a>). Prior to that, I was a post-doc with Kyunghyun Cho and Krzysztof Geras at New York University. I do my best to contribute to the broad machine learning community. Currently, I serve as an area chair for NeurIPS 2021 and ICLR 2021 (before that NeurIPS 2020, ICML 2020 & 2021, ICLR 2020), and I am coordinating the speaker team for Virtual MLinPL 2021. I received my PhD from Jagiellonian University co-supervised by  <a href="http://gmum.net/index.php?m=team&user=tabor">Jacek Tabor</a> and <a href="http://homepages.inf.ed.ac.uk/amos/">Amos Storkey</a> (University of Edinburgh). During PhD, I spent two summers as a visiting researcher with
<a href="http://www.iro.umontreal.ca/~bengioy/yoshua_en/index.html">Yoshua Bengio</a>, and collaborated with Google Research in Zurich. </p>

<p> My email is staszek.jastrzebski (on gmail). My main research goal is to develop deep learning for autnomous scientific discovery, mainly in the context of drug discovery and large throughput experiments. </p> 


<p> News </p>
<ul>
    <li> (6.2021) I was awarded the <a href="https://www.fnp.org.pl/konkurs-start-2021-rozstrzygniety/">START</a> stipend for our work on understanding optimization in deep learning. The stipend is given to the top 100 young scientists (selected from around 1000) in Poland. 
    <li> (6.2021) Molecule.one has closed 4.6$M seed round, read news on <a href="https://techcrunch.com/2021/06/01/molecule-one-grows-its-drug-synthesis-ai-platform-with-a-4-6m-seed-round/">TechCrunch</a>!
    <li> (5.2021) Our <a href="https://arxiv.org/abs/2012.14193">Catastrophic Fisher Explosion</a> has been accepted to ICML!
    <li> (5.2021) Huggingmolecules package including ours Molecule Attention Transformer is <a href="https://github.com/gmum/huggingmolecules">online</a>.
    <li> (4.2021) I have been inclued in the top ten nominees for <a href="https://weareplug.in/api/">Ambassadors of Polish Innovation Award</a>.
    <li> (11.2020) Started as Chief Scientific Officer at Molecule.one and Assistant Professor at Jagiellonian University 
    <li> (3.2020) Our <a href="https://openreview.net/forum?id=aD86B9pZ6u">paper</a> on multimodal learning for breast cancer screening has been accepted to MIDL 2020 as a Spotlight! </li>
    <li> (12.2019) Our <a href="https://iclr.cc/virtual_2020/poster_r1g87C4KwB.html">paper</a> on the early phase of the optimization trajectory has been accepted to ICLR 2020 as a Spotlight! </li>
    <li> (09.2019) Large Scale Structure of Neural Networks' Loss Landscape has been accepted to NeurIPS 2019! </li>
    <li> (06.2019) Received top 5% reviewer award for ICML 2019 :) </li>
    <li> (03.2019) Our <a href="https://arxiv.org/abs/1902.00751">paper</a> on parameter efficient training of BERT was accepted to ICML 2019!</li>
    <li> (01.2019) Papers accepted to ICLR 2019, and AISTATS 2019! Also, our preprint on Neural Architecture Search is <a href="https://arxiv.org/abs/1812.10666">online</a>.  </li>
</ul>


<p> Current students </p>
<ul>
    <li> [PhD] Łukasz Maziarka (UJ), co-advised with Jacek Tabor </li>
    <li> [PhD] Maciej Szymczak (UJ), co-advised with Jacek Tabor </li>
    <li> [PhD] Jakub Chłędowski (UJ), co-advised with Krzysztof Geras </li>
    <li> [MSc] Przemysław Kaleta (PW) - Speeding-up retrosynthesis, co-advised with Piotr Miłoś </li>
    <li> [MSc] Aleksandra Talar (UJ) - Out-of-distribution generalization in molecule property prediction </li>
    <li> [MSc] Piotr Gaiński (UJ) - Low data prediction in molecule property prediction </li>
</ul>

<p> Previous students </p>
<ul>
    <li> [MSc] Sławomir Mucha (UJ) - Pretraining in deep learning in cheminformatics </li>
    <li> [MSc] Tobiasz Ciepliński (UJ) - Evaluating generative models in chemistry using docking simulators </li>
    <li> [BSc] Michał Zmysłowski (UW) - Is noisy quadratic model of training of deep neural networks realistic enough? </li>
    <li> [MSc] Olivier Astrand (NYU) - Memorization in deep learning </li>
    <li> [MSc] Tomasz Wesołowski (UJ) - Relevance of enriching word embeddings in modern deep natural language processing </li>
    <li> [MSc] Andrii Krutsylo (UJ) - Physics aware representation for drug discovery </li>
    <li> [BSc] Michał Soboszek (UJ) - Evaluating word embeddings</li>
    <li> [MSc] Jakub Chłędowski (UJ) - Representation learning for textual entailment</li>
    <li> [MSc] Mikołaj Sacha (UJ) - Meta learning and sharpness of the minima </li>
</ul>


<h2 id="publications"> Selected Publications </h2>

<p> For a full list please see my <a href="https://scholar.google.pl/citations?user=wbJxGQ8AAAAJ&hl=pl">Google Scholar profile</a>. </p>


<cells>
    {% for entry in site.data.papers %}
    <div class="cell">
        <div class="cell-image">
            <img src="{{ entry.img }}" alt="Logo image">
        </div>
        <div class="cell-content">
            <h1>{{ entry.title }}</h1>

            <p class="small-margin"> {{ entry.content }} </p>

            <p class="cell-detail">
                {% if entry.details %}
                {{ entry.details }} <br>
                {% endif %}

                {% if entry.github %}
                <a href="{{ entry.github }}" class="flat"><i class="fa fa-github"></i> code </a>
                {% endif %}

                {% if entry.url %}
                <a href="{{ entry.url }}" class="flat"><i class="fa fa-link"></i> url </a>
                {% endif %}

                {% if entry.pdf %}
                <a href="{{ entry.pdf }}" class="flat"> paper </a>
                {% endif %}

                {% if entry.poster %}
                <a href="{{ entry.poster }}" class="flat"> poster </a>
                {% endif %}

                {% if entry.talk %}
                <a href="{{ entry.talk }}" class="flat"> talk </a>
                {% endif %}


                {% if entry.slides %}
                <a href="{{ entry.slides }}" class="flat"> slides </a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</cells>

