---
layout: default
title: Home
permalink: index.html
---

<p>PhD student @ Jagiellonian University supervised by prof. <a href="http://gmum.net/index.php?m=team&user=tabor">Jacek Tabor</a> and co-advised
by prof. <a href="http://homepages.inf.ed.ac.uk/amos/">Amos Storkey</a> </p>
<p> Research interests: </p>
<ul>
    <li>Deep Representation Learning</li>
    <li>Natural Language Processing</li>
    <li>Computer Aided Drug Design</li>
</ul>
<p> Co-supervised master students: </p>
<ul>
    <li> Krzysztof Galias - Jointly learned word embeddings </li>
    <li> Jakub Chłędowski - Representation learning for textual entailment</li>
</ul>
<p>
    <a href="https://scholar.google.pl/citations?user=wbJxGQ8AAAAJ&hl=pl" class="flat-cv"><i
            class="ai ai-google-scholar"></i> </a>
    <a href="https://github.com/kudkudak/" class="flat-cv"><i class="fa fa-github"></i> </a>
    <a href="https://pl.linkedin.com/in/sjastrzebski" class="flat-cv"><i class="fa fa-linkedin"></i> </a>
    <a href="https://twitter.com/kudkudakpl" class="flat-cv"><i class="fa fa-twitter"></i> </a>
    <a href="https://stackoverflow.com/users/2554446/kudkudak" class="flat-cv"><i class="fa fa-stack-overflow"></i> </a>

</p>
<h2 id="publications"> Selected publications </h2>

<cells>
    {% for entry in site.data.papers %}
    <div class="cell">
        <div class="cell-image">
            <img src="{{ entry.img }}" alt="Logo image">
        </div>
        <div class="cell-content">
            <h1>{{ entry.title }}</h1>

            <p class="small-margin"> {{ entry.content }} </p>

            <p class="cell-detail">
                {% if entry.details %}
                {{ entry.details }} <br>
                {% endif %}

                {% if entry.github %}
                <a href="{{ entry.github }}" class="flat"><i class="fa fa-github"></i> code </a>
                {% endif %}

                {% if entry.url %}
                <a href="{{ entry.url }}" class="flat"><i class="fa fa-link"></i> url </a>
                {% endif %}

                {% if entry.pdf %}
                <a href="{{ entry.pdf }}" class="flat"> .pdf </a>
                {% endif %}

                {% if entry.poster %}
                <a href="{{ entry.poster }}" class="flat"> poster </a>
                {% endif %}

                {% if entry.slides %}
                <a href="{{ entry.slides }}" class="flat"> slides </a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</cells>


 <p></p><h2 id="short-cv"> Short CV </h2>

<cells>
    {% for cv_entry in site.data.cv %}
    <div class="cell">
        <div class="cell-image">
            <img src="{{ cv_entry.img }}" alt="Logo image">
        </div>
        <div class="cell-content">
            <h1> {{ cv_entry.title }} </h1>

            <p class="no-margin"> {{ cv_entry.content }} </p>

            <p class="cell-detail"> {{ cv_entry.details }} </p>
        </div>
    </div>
    {% endfor %}
</cells>

<p></p> <h2 id="code"> Code </h2>

<cells>
    {% for entry in site.data.code %}
    <div class="cell">
        <div class="cell-image">
            <img src="{{ entry.img }}" alt="Logo image">
        </div>
        <div class="cell-content">
            <h1>{{ entry.title }}</h1>

            <p class="small-margin"> {{ entry.content }} </p>

            <p class="cell-detail">
                {% if entry.details %}
                {{ entry.details }} <br>
                {% endif %}

                {% if entry.github %}
                <a href="{{ entry.github }}" class="flat"><i class="fa fa-github"></i> github </a>
                {% endif %}

                {% if entry.url %}
                <a href="{{ entry.url }}" class="flat"><i class="fa fa-link"></i> url </a>
                {% endif %}

                {% if entry.pdf %}
                <a href="{{ entry.pdf }}" class="flat"> .pdf </a>
                {% endif %}

                {% if entry.slides %}
                <a href="{{ entry.slides }}" class="flat"> slides </a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</cells>

<p></p> <h2 id="talks"> Talks </h2>

<cells>
    {% for entry in site.data.talks %}
    <div class="cell">
        <div class="cell-image">
            <img src="{{ entry.img }}" alt="Logo image">
        </div>
        <div class="cell-content">
            <h1>{{ entry.title }}</h1>

            <p class="small-margin"> {{ entry.content }} </p>

            <p class="cell-detail">
                {% if entry.details %}
                {{ entry.details }} <br>
                {% endif %}

                {% if entry.github %}
                <a href="{{ entry.github }}" class="flat"><i class="fa fa-github"></i> github </a>
                {% endif %}

                {% if entry.url %}
                <a href="{{ entry.url }}" class="flat"><i class="fa fa-link"></i> url </a>
                {% endif %}

                {% if entry.pdf %}
                <a href="{{ entry.pdf }}" class="flat"> slides </a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</cells>



