/*
 Basscss v4.2.4
 Low-level CSS toolkit http://basscss.com

*/
body, button { margin: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; }

img { max-width: 100%; }

svg { max-height: 100%; }

/* Basscss Base Typography */
body { font-family: 'Helvetica Neue', Helvetica, sans-serif; line-height: 1.5; font-size: 100%; }

h1, h2, h3, h4, h5, h6 { font-family: 'Helvetica Neue', Helvetica, sans-serif; font-weight: bold; line-height: 1.25; margin-top: 1em; margin-bottom: .5em; }

p, dl, ol, ul { font-size: 1rem; margin-top: 0; margin-bottom: 1rem; }

ol, ul { padding-left: 2rem; }

pre, code, samp { font-family: 'Source Code Pro', Consolas, monospace; font-size: inherit; }

pre { margin-top: 0; margin-bottom: 1rem; overflow-x: scroll; }

hr { margin-top: 2rem; margin-bottom: 2rem; }

blockquote { margin-top: 2rem; margin-bottom: 2rem; margin-left: 0; padding-left: 1rem; padding-right: 1rem; }

blockquote, blockquote p { font-size: 1.25rem; font-style: italic; }

h1, .h1 { font-size: 2rem; }

h2, .h2 { font-size: 1.5rem; }

h3, .h3 { font-size: 1.25rem; }

h4, .h4 { font-size: 1rem; }

h5, .h5 { font-size: .875rem; }

h6, .h6 { font-size: .75rem; }

.list-reset { list-style: none; padding-left: 0; }

/* Basscss Base Forms */
input, select, textarea, fieldset { font-size: 1rem; margin-top: 0; margin-bottom: .5rem; }

input[type=text], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=time], input[type=url], input[type=week] { box-sizing: border-box; height: 2.25rem; padding: .5rem .5rem; vertical-align: middle; -webkit-appearance: none; }

select { box-sizing: border-box; line-height: 1.75; padding: .5rem .5rem; }

select:not([multiple]) { height: 2.25rem; vertical-align: middle; }

textarea { box-sizing: border-box; line-height: 1.75; padding: .5rem .5rem; }

.fieldset-reset { padding: 0; margin-left: 0; margin-right: 0; border: 0; }

.fieldset-reset legend { padding: 0; }

/* Basscss Base Buttons */
button, .button { font-size: inherit; font-weight: bold; text-decoration: none; cursor: pointer; display: inline-block; box-sizing: border-box; line-height: 1.125rem; padding: .5rem 1rem; margin: 0; height: auto; border: 1px solid transparent; vertical-align: middle; -webkit-appearance: none; }

::-moz-focus-inner { border: 0; padding: 0; }

.button:hover { text-decoration: none; }

/* Basscss Base Tables */
table { border-collapse: separate; border-spacing: 0; max-width: 100%; width: 100%; }

th { text-align: left; font-weight: bold; }

th, td { padding: .25rem 1rem; line-height: inherit; }

th { vertical-align: bottom; }

td { vertical-align: top; }

/* Basscss Utility Layout */
.inline { display: inline; }

.block { display: block; }

.inline-block { display: inline-block; }

.overflow-hidden { overflow: hidden; }

.overflow-scroll { overflow: scroll; }

.overflow-auto { overflow: auto; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.left { float: left; }

.right { float: right; }

.fit { max-width: 100%; }

.half-width { width: 50%; }

.full-width { width: 100%; }

/* Basscss Utility Typography */
.bold { font-weight: bold; }

.regular { font-weight: normal; }

.italic, .post-footer { font-style: italic; }

.caps { text-transform: uppercase; letter-spacing: .2em; }

.left-align { text-align: left; }

.center { text-align: center; }

.right-align { text-align: right; }

.justify { text-align: justify; }

.nowrap { white-space: nowrap; }

/* Basscss Utility White Space */
.m0 { margin: 0; }

.mt0 { margin-top: 0; }

.mr0 { margin-right: 0; }

.mb0 { margin-bottom: 0; }

.ml0 { margin-left: 0; }

.m1 { margin: .5rem; }

.mt1 { margin-top: .5rem; }

.mr1 { margin-right: .5rem; }

.mb1 { margin-bottom: .5rem; }

.ml1 { margin-left: .5rem; }

.m2 { margin: 1rem; }

.mt2 { margin-top: 1rem; }

.mr2 { margin-right: 1rem; }

.mb2 { margin-bottom: 1rem; }

.ml2 { margin-left: 1rem; }

.m3 { margin: 2rem; }

.mt3 { margin-top: 2rem; }

.mr3 { margin-right: 2rem; }

.mb3 { margin-bottom: 2rem; }

.ml3 { margin-left: 2rem; }

.m4 { margin: 4rem; }

.mt4 { margin-top: 4rem; }

.mr4 { margin-right: 4rem; }

.mb4 { margin-bottom: 4rem; }

.ml4 { margin-left: 4rem; }

.mxn1 { margin-left: -.5rem; margin-right: -.5rem; }

.mxn2 { margin-left: -1rem; margin-right: -1rem; }

.mxn3 { margin-left: -2rem; margin-right: -2rem; }

.mxn4 { margin-left: -4rem; margin-right: -4rem; }

.mx-auto { margin-left: auto; margin-right: auto; }

.p1 { padding: .5rem; }

.py1 { padding-top: .5rem; padding-bottom: .5rem; }

.px1 { padding-left: .5rem; padding-right: .5rem; }

.p2 { padding: 1rem; }

.py2 { padding-top: 1rem; padding-bottom: 1rem; }

.px2 { padding-left: 1rem; padding-right: 1rem; }

.p3 { padding: 2rem; }

.py3 { padding-top: 2rem; padding-bottom: 2rem; }

.px3 { padding-left: 2rem; padding-right: 2rem; }

.p4 { padding: 4rem; }

.py4 { padding-top: 4rem; padding-bottom: 4rem; }

.px4 { padding-left: 4rem; padding-right: 4rem; }

/* Basscss Utility Responsive States */
.sm-show, .md-show, .lg-show { display: none !important; }

@media (min-width: 40em) { .sm-show { display: block !important; } }
@media (min-width: 52em) { .md-show { display: block !important; } }
@media (min-width: 64em) { .lg-show { display: block !important; } }
@media (min-width: 40em) { .sm-hide { display: none !important; } }
@media (min-width: 52em) { .md-hide { display: none !important; } }
@media (min-width: 64em) { .lg-hide { display: none !important; } }
.display-none { display: none !important; }

.hide { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }

/* Basscss Positions */
.relative { position: relative; }

.absolute { position: absolute; }

.fixed { position: fixed; }

.top-0 { top: 0; }

.right-0 { right: 0; }

.bottom-0 { bottom: 0; }

.left-0 { left: 0; }

.z1 { z-index: 1; }

.z2 { z-index: 2; }

.z3 { z-index: 3; }

.z4 { z-index: 4; }

.absolute-center { top: 0; right: 0; bottom: 0; left: 0; margin: auto; display: table; }

/* Basscss Grid */
.container { max-width: 64em; margin-left: auto; margin-right: auto; }

.col { float: left; box-sizing: border-box; }

.col-right { float: right; box-sizing: border-box; }

.col-1 { width: 8.333333333333332%; }

.col-2 { width: 16.666666666666664%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33333333333333%; }

.col-5 { width: 41.66666666666667%; }

.col-6 { width: 50%; }

.col-7 { width: 58.333333333333336%; }

.col-8 { width: 66.66666666666666%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33333333333334%; }

.col-11 { width: 91.66666666666666%; }

.col-12 { width: 100%; }

@media (min-width: 40em) { .sm-col { float: left; box-sizing: border-box; }
  .sm-col-right { float: right; box-sizing: border-box; }
  .sm-col-1 { width: 8.333333333333332%; }
  .sm-col-2 { width: 16.666666666666664%; }
  .sm-col-3 { width: 25%; }
  .sm-col-4 { width: 33.33333333333333%; }
  .sm-col-5 { width: 41.66666666666667%; }
  .sm-col-6 { width: 50%; }
  .sm-col-7 { width: 58.333333333333336%; }
  .sm-col-8 { width: 66.66666666666666%; }
  .sm-col-9 { width: 75%; }
  .sm-col-10 { width: 83.33333333333334%; }
  .sm-col-11 { width: 91.66666666666666%; }
  .sm-col-12 { width: 100%; } }
@media (min-width: 52em) { .md-col { float: left; box-sizing: border-box; }
  .md-col-right { float: right; box-sizing: border-box; }
  .md-col-1 { width: 8.333333333333332%; }
  .md-col-2 { width: 16.666666666666664%; }
  .md-col-3 { width: 25%; }
  .md-col-4 { width: 33.33333333333333%; }
  .md-col-5 { width: 41.66666666666667%; }
  .md-col-6 { width: 50%; }
  .md-col-7 { width: 58.333333333333336%; }
  .md-col-8 { width: 66.66666666666666%; }
  .md-col-9 { width: 75%; }
  .md-col-10 { width: 83.33333333333334%; }
  .md-col-11 { width: 91.66666666666666%; }
  .md-col-12 { width: 100%; } }
@media (min-width: 64em) { .lg-col { float: left; box-sizing: border-box; }
  .lg-col-right { float: right; box-sizing: border-box; }
  .lg-col-1 { width: 8.333333333333332%; }
  .lg-col-2 { width: 16.666666666666664%; }
  .lg-col-3 { width: 25%; }
  .lg-col-4 { width: 33.33333333333333%; }
  .lg-col-5 { width: 41.66666666666667%; }
  .lg-col-6 { width: 50%; }
  .lg-col-7 { width: 58.333333333333336%; }
  .lg-col-8 { width: 66.66666666666666%; }
  .lg-col-9 { width: 75%; }
  .lg-col-10 { width: 83.33333333333334%; }
  .lg-col-11 { width: 91.66666666666666%; }
  .lg-col-12 { width: 100%; } }
/* Basscss Table Object */
.table { display: table; width: 100%; }

.table-cell { display: table-cell; vertical-align: middle; }

.table-fixed { table-layout: fixed; }

@media (min-width: 40em) { .sm-table { display: table; width: 100%; }
  .sm-table-cell { display: table-cell; vertical-align: middle; } }
@media (min-width: 52em) { .md-table { display: table; width: 100%; }
  .md-table-cell { display: table-cell; vertical-align: middle; } }
@media (min-width: 64em) { .lg-table { display: table; width: 100%; }
  .lg-table-cell { display: table-cell; vertical-align: middle; } }
/* Basscss Color Base */
body { color: #333; background-color: white; }

a { color: #0076df; text-decoration: none; }

a:hover { text-decoration: underline; }

pre, code { background-color: #eee; border-radius: 3px; }

hr { border: 0; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #ccc; }

/* Basscss Color Forms */
.field-light { background-color: white; -webkit-transition: box-shadow .2s ease; transition: box-shadow .2s ease; border-style: solid; border-width: 1px; border-color: #ccc; border-radius: 3px; }

.field-light:focus { outline: none; border-color: #0076df; box-shadow: 0 0 2px rgba(0, 118, 223, 0.5); }

.field-light:disabled { color: #777; background-color: rgba(0, 0, 0, 0.125); }

.field-light:read-only:not(select) { background-color: rgba(0, 0, 0, 0.125); }

.field-light:invalid { border-color: #ff4919; }

.field-light.is-success { border-color: #00df3f; }

.field-light.is-warning { border-color: #ffcf00; }

.field-light.is-error { border-color: #ff4919; }

.radio-light, .checkbox-light { -webkit-transition: box-shadow .2s ease; transition: box-shadow .2s ease; }

.radio-light { border-radius: 50%; }

.radio-light:focus, .checkbox-light:focus { outline: none; box-shadow: 0 0 2px rgba(0, 118, 223, 0.5); }

/* Basscss Color Forms Dark */
.field-dark { color: white; background-color: rgba(0, 0, 0, 0.25); border: 1px solid rgba(0, 0, 0, 0.0625); border-radius: 3px; }

.field-dark::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.75); }

.field-dark::-moz-placeholder { color: rgba(255, 255, 255, 0.75); }

.field-dark:-ms-input-placeholder { color: rgba(255, 255, 255, 0.75); }

.field-dark::placeholder { color: rgba(255, 255, 255, 0.75); }

.field-dark:focus { outline: 0; border: 1px solid rgba(255, 255, 255, 0.5); }

.field-dark:read-only:not(select) { background-color: rgba(255, 255, 255, 0.25); }

.field-dark:invalid { border-color: #ff4919; }

.field-dark.is-success { border-color: #00df3f; }

.field-dark.is-warning { border-color: #ffcf00; }

.field-dark.is-error { border-color: #ff4919; }

/* Basscss Color Tables */
.table-light th, .table-light td { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #ccc; }

.table-light tr:last-child td { border-bottom: 0; }

/* Basscss Button Blue */
.button-blue { color: white; background-color: #0076df; border-radius: 3px; -webkit-transition-duration: .1s; transition-duration: .1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; -webkit-transition-property: box-shadow, background-color; transition-property: box-shadow, background-color; }

.button-blue:hover { opacity: .875; }

.button-blue:active, .button-blue.is-active { box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.125), inset 0 2px 3px 0 rgba(0, 0, 0, 0.25); }

.button-blue:focus { outline: none; box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 1px 4px rgba(0, 118, 223, 0.5); }

.button-blue:disabled, .button-blue.is-disabled { opacity: .5; }

/* Basscss Button Blue Outline */
.button-blue-outline { color: #0076df; background-color: transparent; border-radius: 3px; border: 1px solid #0076df; -webkit-transition-duration: .1s; transition-duration: .1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; -webkit-transition-property: box-shadow, background-color; transition-property: box-shadow, background-color; }

.button-blue-outline:hover, .button-blue-outline.is-active { color: white; background-color: #0076df; }

.button-blue-outline:active { box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.25); }

.button-blue-outline:focus { outline: none; box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 1px 4px rgba(0, 118, 223, 0.5); }

.button-blue-outline:disabled, .button-blue-outline.is-disabled { color: #0076df; background-color: transparent; opacity: .5; }

/* Basscss Button Red */
.button-red { color: white; background-color: #ff4919; border-radius: 3px; -webkit-transition-duration: .1s; transition-duration: .1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; -webkit-transition-property: box-shadow, background-color; transition-property: box-shadow, background-color; }

.button-red:hover { opacity: .875; }

.button-red:active, .button-red.is-active { box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.125), inset 0 2px 3px 0 rgba(0, 0, 0, 0.25); }

.button-red:focus { outline: none; box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 1px 4px rgba(255, 73, 25, 0.5); }

.button-red:disabled, .button-red.is-disabled { opacity: .5; }

/* @import 'basscss-button-gray';
*/
/* Basscss Button Light Gray */
.button-light-gray { color: #333; background-color: #ccc; border-radius: 3px; -webkit-transition-duration: .1s; transition-duration: .1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; -webkit-transition-property: box-shadow, background-color; transition-property: box-shadow, background-color; }

.button-light-gray:hover { opacity: .875; }

.button-light-gray:active, .button-light-gray:is-active { box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.125), inset 0 2px 3px 0 rgba(0, 0, 0, 0.25); }

.button-light-gray:focus { outline: none; box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba(0, 118, 223, 0.5); }

.button-light-gray:disabled, .button-light-gray.is-disabled { opacity: .5; }

/* Basscss Button Nav Light */
.button-nav-light { color: #0076df; background-color: transparent; }

.button-nav-light:hover { background-color: rgba(0, 0, 0, 0.0625); }

.button-nav-light:active, .button-nav-light.is-active { color: #333; }

/* Basscss Button Nav Dark */
.button-nav-dark { color: white; background-color: transparent; }

.button-nav-dark:hover { background-color: rgba(0, 0, 0, 0.125); }

.button-nav-dark:active, .button-nav-dark.is-active { background-color: rgba(0, 0, 0, 0.125); }

/* Basscss Colors */
.dark-gray { color: #333; }

.white { color: white; }

.blue { color: #0076df; }

.mid-gray { color: #777; }

.light-gray { color: #ccc; }

.lighter-gray { color: #eee; }

.red { color: #ff4919; }

.green { color: #00df3f; }

.yellow { color: #ffcf00; }

.bg-dark-gray { background-color: #333; }

.bg-white { background-color: white; }

.bg-blue { background-color: #0076df; }

.bg-mid-gray { background-color: #777; }

.bg-light-gray { background-color: #ccc; }

.bg-lighter-gray { background-color: #eee; }

.bg-red { background-color: #ff4919; }

.bg-green { background-color: #00df3f; }

.bg-yellow { background-color: #ffcf00; }

.bg-darken-1 { background-color: rgba(0, 0, 0, 0.0625); }

.bg-darken-2 { background-color: rgba(0, 0, 0, 0.125); }

.bg-darken-3 { background-color: rgba(0, 0, 0, 0.25); }

.bg-darken-4 { background-color: rgba(0, 0, 0, 0.5); }

/* Basscss Color Borders */
.border { border-style: solid; border-width: 1px; border-color: #ccc; }

.border-top { border-top-style: solid; border-top-width: 1px; border-top-color: #ccc; }

.border-right { border-right-style: solid; border-right-width: 1px; border-right-color: #ccc; }

.border-bottom { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #ccc; }

.border-left { border-left-style: solid; border-left-width: 1px; border-left-color: #ccc; }

.rounded { border-radius: 3px; }

.circle { border-radius: 50%; }

.rounded-top { border-radius: 3px 3px 0 0; }

.rounded-right { border-radius: 0 3px 3px 0; }

.rounded-bottom { border-radius: 0 0 3px 3px; }

.rounded-left { border-radius: 3px 0 0 3px; }

.not-rounded { border-radius: 0; }

/* Based on Pixyll
*/
html { font-size: 14px; }

body { font-family: "PT Serif", Georgia, "Times New Roman", serif; }

html, body { height: 100%; }

img { width: auto; max-width: 100%; }

abbr { font-size: 90%; letter-spacing: 0.1em; }

a { text-decoration: none; }

a:hover, a:active, a:focus, a:visited { text-decoration: none; }

a { border-bottom: 1px solid #ccc; transition: 0.2 all; -webkit-transition: 0.2 all; }
a:hover { border-bottom: 1px solid #0076DF; }

a.no-underline { border-bottom: none; }

.ename:after { content: "@"; }

.site-wrap { margin: 0 2rem; min-height: 100%; margin-bottom: -120px; }

.site-wrap:after { content: ""; display: block; }

.footer, .site-wrap:after { height: 120px; }

body { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; font-size: 16px; }

.gist, .gist .highlight .p { font-size: .75rem; }

.gist .lines { width: 100%; }

.site-header { font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif; }

.site-header a { color: #333; font-weight: 300; }

.site-header a:hover { border-bottom-color: #ccc; }

.site-header nav a { font-size: 1rem; color: #666; }

.site-header nav a:hover { color: #444; opacity: 1; border-bottom: 1px solid #444; }

.site-nav a + a { margin-left: 1em; }

.site-nav { margin: 0; padding: 0; }

.site-header a:hover, .posts .post a:hover .post-meta, .posts .post a:hover .post-title, .posts .post a:hover .post-summary { opacity: 0.88; }

.padded { padding-right: 2em; }

.about { font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif; font-weight: 300; margin-top: 4em; }
.about h1 { font-size: 1.5rem; margin: 0; padding: 0; }
.about ul { list-style: none; margin: 0; padding: 0; }
.about ul li { line-height: 1.5; }
.about hr { border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #eee; margin: 0.5em 0; padding: 0; }
.about .image { vertical-align: top; text-align: right; padding-right: 2em; }
.about .image img { width: 64px; height: 64px; margin: 0.55em auto; border-radius: 50%; }
.about .short { vertical-align: top; display: inline-block; }

.landing-content { margin-top: 2em; }
.landing-content h1 { font-size: 2rem; }
.landing-content h2 { font-size: 1.5rem; }
.landing-content h3 { font-size: 1.25rem; }

/* Table styles copied from Bootstrap Copyright (c) 2013 Twitter, Inc
*/
table { width: 100%; max-width: 100%; margin-bottom: 1.5; font-size: 1.125rem; }
table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td { padding: 12px; line-height: 1.2; vertical-align: top; border-top: 1px solid #333; }
table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid #333; }
table > caption + thead > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > th, table > thead:first-child > tr:first-child > td { border-top: 0; }
table > tbody + tbody { border-top: 2px solid #333; }

.related-post-title { border-bottom: thin solid #f3f3f3; }

.posts { margin: 0; }

.posts .post { margin-bottom: 0.75em; padding-bottom: .375em; border-bottom: thin solid #f3f3f3; }

.posts .post:last-child { border-bottom: none; margin-bottom: .375em; padding-bottom: 0; }

.post-link .post-title { margin-top: 0; font-weight: 600; color: #333; }

.post-content { margin-bottom: 4rem; }

.post-footer { margin-top: .75rem; text-align: center; }

.post-footer .avatar { margin: 2rem 0; width: 100px; border-radius: 50%; }

.pagination, .button { font-size: 1rem; font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif; font-weight: 300; text-align: center; }

.pagination a, .pagination .disabled { -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; background: #fafafa; border-radius: 0.1875em; border: 1px solid #f3f3f3; color: #333333; padding: 1em 1.5em; }

.pagination .disabled { opacity: 0.5; }

.pagination a:hover, .pagination a:focus { background: white; color: #477dca; }

.pagination a:active { background: #f7f7f7; }

.wrap .measure { max-width: 48rem; margin: 0 auto; }

.meta, .post-meta { width: auto; font-size: 1rem; font-weight: 300; margin: 0; padding: .25em 0; color: #7a7a7a; font-style: italic; }

.pagination .button { font-size: 1rem; font-weight: 300; letter-spacing: 1px; }

.button-disabled { opacity: 0.55; background-color: #999; }

.button-disabled:hover, .button-disabled:active, .button-disabled:focus { cursor: not-allowed; background-color: #999; }

form { font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif; font-weight: 300; font-size: 1rem; }

textarea.input { height: 8em; }

p { font-weight: 300; line-height: 1.5; color: #333; }

abbr { border-bottom: 1px black dotted; cursor: help; }

code { padding: .2em; color: #7a7a7a; }

pre > code { padding: 0; }

pre { padding: 1.125em; font-size: 1.125rem; line-height: 1.11; overflow-x: scroll; margin-bottom: 0.88em; }

.highlight .p { font-size: 1.125rem; line-height: 1; }

blockquote { padding: 1.33em; font-style: italic; border-left: 5px solid #7a7a7a; }

blockquote footer { font-size: .85rem; font-style: normal; background-color: #fff; color: #7a7a7a; border-color: transparent; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif; font-weight: 900; line-height: 1.2; margin: 1.5em 0 1em; }

.social-icons { padding: 0.5em 0 0 0; font-size: 1.25rem; width: 100%; }

.social-icons a.fa { padding: 0.2em; opacity: 0.5; cursor: pointer; border: none; }

.social-icons a.fa:hover { opacity: 1; }

.social-icons iframe[title=Flattr] { position: relative; top: 0.1em; }

@media screen and (min-width: 48em) { .site-header .site-title { float: left; }
  .meta, .post-meta { margin: 0; padding: 0; font-size: 1.25rem; }
  .h1, h1 { font-size: 3.250rem; }
  .h2, h2 { font-size: 2.298rem; }
  .h3, h3 { font-size: 1.625rem; }
  .h4, h4 { font-size: 1.150rem; }
  .p, p, li { font-size: 1.25rem; line-height: 1.8; }
  .small { font-size: 1rem; }
  table { font-size: 1.25rem; }
  .post-link .post-title { margin-top: 0.5em; }
  .posts .post { margin-bottom: 1.333em; padding-bottom: 0.666em; border-bottom: thin solid #f3f3f3; }
  .posts .post:last-child { border-bottom: none; margin-bottom: .333em; padding-bottom: 0; } }
@media screen and (max-width: 48em) { blockquote { margin-left: 1rem; margin-right: 0; padding: 0.5em; }
  .h1, h1 { font-size: 2.827rem; }
  .h2, h2 { font-size: 1.999rem; }
  .h3, h3 { font-size: 1.413rem; }
  .h4, h4 { font-size: 1rem; }
  .site-header { text-align: center; }
  .site-header .site-title { float: center; }
  .site-header .site-nav { width: 100%; float: left; text-align: center; margin-top: 0.666em; margin-bottom: 1.333em; }
  .social-icons .left, .social-icons .right { text-align: center; float: none; } }
@media screen and (min-width: 64em) { .h1, h1 { font-size: 4.498rem; }
  .h2, h2 { font-size: 3.18rem; }
  .h3, h3 { font-size: 2.249rem; }
  .h4, h4 { font-size: 1.591rem; }
  .posts .post-meta { padding-bottom: .2em; }
  .post-link .post-title { margin-top: .125em; }
  .posts .post { margin-bottom: 2.666em; padding-bottom: 1.333em; border-bottom: thin solid #f3f3f3; }
  .posts .post:last-child { border-bottom: none; margin-bottom: .666em; padding-bottom: 0; } }
footer { border-top: thin solid #f3f3f3; }

footer, footer .wrap { color: #7a7a7a; background-color: #fafafa; font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif; font-weight: 300; clear: both; }

footer:after { content: ""; display: block; }

a { transition: all 0.2s; }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/
.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s; }

@-webkit-keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translateY(-20px); transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translateY(-20px) translate3d(0, 0, 0); -ms-transform: translateY(-20px) translate3d(0, 0, 0); transform: translateY(-20px) translate3d(0, 0, 0); }
  100% { opacity: 1; -webkit-transform: translateY(0) translate3d(0, 0, 0); -ms-transform: translateY(0) translate3d(0, 0, 0); transform: translateY(0) translate3d(0, 0, 0); } }
.fade-in-down { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }

/* Solarized Light

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  body text / default code / primary content
base1     #93a1a1  comments / secondary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/
.highlight, .gist-syntax .highlight { background-color: #fdf6e3; color: #586e75; }

.highlight .c, .gist-syntax .highlight .c { color: #93a1a1; }

/* Comment */
.highlight .err, .gist-syntax .highlight .err { color: #586e75; }

/* Error */
.highlight .g, .gist-syntax .highlight .g { color: #586e75; }

/* Generic */
.highlight .k, .gist-syntax .highlight .k { color: #859900; }

/* Keyword */
.highlight .l, .gist-syntax .highlight .l { color: #586e75; }

/* Literal */
.highlight .n, .gist-syntax .highlight .n { color: #586e75; }

/* Name */
.highlight .o, .gist-syntax .highlight .o { color: #859900; }

/* Operator */
.highlight .x, .gist-syntax .highlight .x { color: #cb4b16; }

/* Other */
.highlight .p, .gist-syntax .highlight .p { color: #586e75; }

/* Punctuation */
.highlight .cm, .gist-syntax .highlight .cm { color: #93a1a1; }

/* Comment.Multiline */
.highlight .cp, .gist-syntax .highlight .cp { color: #859900; }

/* Comment.Preproc */
.highlight .c1, .gist-syntax .highlight .c1 { color: #93a1a1; }

/* Comment.Single */
.highlight .cs, .gist-syntax .highlight .cs { color: #859900; }

/* Comment.Special */
.highlight .gd, .gist-syntax .highlight .gd { color: #2aa198; }

/* Generic.Deleted */
.highlight .ge, .gist-syntax .highlight .ge { color: #586e75; font-style: italic; }

/* Generic.Emph */
.highlight .gr, .gist-syntax .highlight .gr { color: #dc322f; }

/* Generic.Error */
.highlight .gh, .gist-syntax .highlight .gh { color: #cb4b16; }

/* Generic.Heading */
.highlight .gi, .gist-syntax .highlight .gi { color: #859900; }

/* Generic.Inserted */
.highlight .go, .gist-syntax .highlight .go { color: #586e75; }

/* Generic.Output */
.highlight .gp, .gist-syntax .highlight .gp { color: #586e75; }

/* Generic.Prompt */
.highlight .gs, .gist-syntax .highlight .gs { color: #586e75; font-weight: bold; }

/* Generic.Strong */
.highlight .gu, .gist-syntax .highlight .gu { color: #cb4b16; }

/* Generic.Subheading */
.highlight .gt, .gist-syntax .highlight .gt { color: #586e75; }

/* Generic.Traceback */
.highlight .kc, .gist-syntax .highlight .kc { color: #cb4b16; }

/* Keyword.Constant */
.highlight .kd, .gist-syntax .highlight .kd { color: #268bd2; }

/* Keyword.Declaration */
.highlight .kn, .gist-syntax .highlight .kn { color: #859900; }

/* Keyword.Namespace */
.highlight .kp, .gist-syntax .highlight .kp { color: #859900; }

/* Keyword.Pseudo */
.highlight .kr, .gist-syntax .highlight .kr { color: #268bd2; }

/* Keyword.Reserved */
.highlight .kt, .gist-syntax .highlight .kt { color: #dc322f; }

/* Keyword.Type */
.highlight .ld, .gist-syntax .highlight .ld { color: #586e75; }

/* Literal.Date */
.highlight .m, .gist-syntax .highlight .m { color: #2aa198; }

/* Literal.Number */
.highlight .s, .gist-syntax .highlight .s { color: #2aa198; }

/* Literal.String */
.highlight .na, .gist-syntax .highlight .na { color: #586e75; }

/* Name.Attribute */
.highlight .nb, .gist-syntax .highlight .nb { color: #B58900; }

/* Name.Builtin */
.highlight .nc, .gist-syntax .highlight .nc { color: #268bd2; }

/* Name.Class */
.highlight .no, .gist-syntax .highlight .no { color: #cb4b16; }

/* Name.Constant */
.highlight .nd, .gist-syntax .highlight .nd { color: #268bd2; }

/* Name.Decorator */
.highlight .ni, .gist-syntax .highlight .ni { color: #cb4b16; }

/* Name.Entity */
.highlight .ne, .gist-syntax .highlight .ne { color: #cb4b16; }

/* Name.Exception */
.highlight .nf, .gist-syntax .highlight .nf { color: #268bd2; }

/* Name.Function */
.highlight .nl, .gist-syntax .highlight .nl { color: #586e75; }

/* Name.Label */
.highlight .nn, .gist-syntax .highlight .nn { color: #586e75; }

/* Name.Namespace */
.highlight .nx, .gist-syntax .highlight .nx { color: #586e75; }

/* Name.Other */
.highlight .py, .gist-syntax .highlight .py { color: #586e75; }

/* Name.Property */
.highlight .nt, .gist-syntax .highlight .nt { color: #268bd2; }

/* Name.Tag */
.highlight .nv, .gist-syntax .highlight .nv { color: #268bd2; }

/* Name.Variable */
.highlight .ow, .gist-syntax .highlight .ow { color: #859900; }

/* Operator.Word */
.highlight .w, .gist-syntax .highlight .w { color: #586e75; }

/* Text.Whitespace */
.highlight .mf, .gist-syntax .highlight .mf { color: #2aa198; }

/* Literal.Number.Float */
.highlight .mh, .gist-syntax .highlight .mh { color: #2aa198; }

/* Literal.Number.Hex */
.highlight .mi, .gist-syntax .highlight .mi { color: #2aa198; }

/* Literal.Number.Integer */
.highlight .mo, .gist-syntax .highlight .mo { color: #2aa198; }

/* Literal.Number.Oct */
.highlight .sb, .gist-syntax .highlight .sb { color: #93a1a1; }

/* Literal.String.Backtick */
.highlight .sc, .gist-syntax .highlight .sc { color: #2aa198; }

/* Literal.String.Char */
.highlight .sd, .gist-syntax .highlight .sd { color: #586e75; }

/* Literal.String.Doc */
.highlight .s2, .gist-syntax .highlight .s2 { color: #2aa198; }

/* Literal.String.Double */
.highlight .se, .gist-syntax .highlight .se { color: #cb4b16; }

/* Literal.String.Escape */
.highlight .sh, .gist-syntax .highlight .sh { color: #586e75; }

/* Literal.String.Heredoc */
.highlight .si, .gist-syntax .highlight .si { color: #2aa198; }

/* Literal.String.Interpol */
.highlight .sx, .gist-syntax .highlight .sx { color: #2aa198; }

/* Literal.String.Other */
.highlight .sr, .gist-syntax .highlight .sr { color: #dc322f; }

/* Literal.String.Regex */
.highlight .s1, .gist-syntax .highlight .s1 { color: #2aa198; }

/* Literal.String.Single */
.highlight .ss, .gist-syntax .highlight .ss { color: #2aa198; }

/* Literal.String.Symbol */
.highlight .bp, .gist-syntax .highlight .bp { color: #268bd2; }

/* Name.Builtin.Pseudo */
.highlight .vc, .gist-syntax .highlight .vc { color: #268bd2; }

/* Name.Variable.Class */
.highlight .vg, .gist-syntax .highlight .vg { color: #268bd2; }

/* Name.Variable.Global */
.highlight .vi, .gist-syntax .highlight .vi { color: #268bd2; }

/* Name.Variable.Instance */
.highlight .il, .gist-syntax .highlight .il { color: #2aa198; }

/* Literal.Number.Integer.Long */