<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-74998633-1', 'auto');
ga('send', 'pageview');

</script>

{% if page.title != "404" %}

<header>
    <div id="logo">
        <img src="/assets/img/photo_3.jpg"/>
    </div>
    <aside>
        <h1>
            <title>
                Stanisław Jastrzębski
            </title></h1>


        <p style="margin-top:45px">
     <a href="https://scholar.google.pl/citations?user=wbJxGQ8AAAAJ&hl=pl" class="flat-cv"><i
            class="ai ai-google-scholar"></i> </a>
    <a href="https://github.com/kudkudak/" class="flat-cv"><i class="fa fa-github"></i> </a>
    <a href="https://pl.linkedin.com/in/sjastrzebski" class="flat-cv"><i class="fa fa-linkedin"></i> </a>
    <a href="https://twitter.com/kudkudakpl" class="flat-cv"><i class="fa fa-twitter"></i> </a>

    </p>
    </aside>
</header>

{% endif %}

<div class="row-wrapper">
    <div class="outer-container">
        <div id="js-fadeInElement" class="fade-in-element">
            <div id="js-parallax-window" class="parallax-window">
                <div class="parallax-static-content">
                    {{content}}
                </div>
                <div id="js-parallax-background" class="parallax-background"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
